{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    
      <form>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md">
      <h1 class="text-center text-lg font-bold text-gray-500">Create new Task</h1>
      <div class="space-y-4 mt-6">
    <div class="w-full ">

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_main') }}">back to list</a>
     </div>
  </div>
    </div>
  </div>
</form>
{% endblock %}
