<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
        <script src="https://cdn.tailwindcss.com"></script>
        <link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
    </head>
    <body>
    
    <header class="w-full bg-teal-600 p-4 flex justify-between items-center">
        <nav class="flex items-center">
         
         <img class="w-8 h-7 rounded-full" src="logo.jpg" />
          <li class="text-white text-xl">Organiser</li>
         
        </nav>

        <div class="w-8 h-8 flex justify-between items-center cursor-pointer">
            
          <img class="rounded-full" src="http://www.w3.org/2000/svg" />
        </div>
      </header>
      
      
     
  

    

        {% block body %}{% endblock %}
    </body>
</html>
